<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<property name="LOGS" value="./logs" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>common</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
   		<file>${LOGS}/access.log</file>
   		<encoder>
   			<layout>
		        <pattern>
		        	client-origin: "%h" destination-local-ip: %A destination-remote-ip: %a date: "%t{yyyy-MM-dd HH:mm:ss,SSS}" requestKey: %responseHeader{requestKey} request: "%r" status-code: %s local-port: %localPort User-Agent: "%i{User-Agent}"
		        </pattern>
   			</layout>
   		</encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/access-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="json" class="ch.qos.logback.core.FileAppender">
   		<file>${LOGS}/access.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
	       	<fieldNames>
		        <requestHeaders>request_headers</requestHeaders>
		        <responseHeaders>response_headers</responseHeaders>
		    </fieldNames>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/access-logger-json-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
    <appender-ref ref="json"/>
</configuration>